*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Playw";
}

html,body{
	height: 100%;
}

@font-face{
	src: url('../fontes/Rubik-VariableFont_wght.ttf');
	font-family: "Playw";
}


.topo {
	background-color: #005c81;
	color: #fff;
	padding: 10px;
	text-align: center;
}

.topo h1 {
	font-size: 24px;
	color: rgba(252, 252, 252, 0.76);
}
.topo p {
	font-size: 14px;
	color: rgba(255, 255, 255, 0.76);
}

.centroTela {
	background-color: #ebf7f8;
	color: #fff;
	width: 100%;
	height: auto;
	text-align: center;
	padding: 15px;
}

.elementoSuperior {
	border: 2px solid #005c81;
	border-radius: 10px;
	display: flex;
	background-color: #fff;
	color: #005c81;
	width: 80%;
	text-align: center;
	margin: auto;
}

.pesquisa {
	width: 100%;
	text-align: center;
	padding: 8px;
}

.pesquisa input {
	width: 95%;
	height: 50px;
	border: 2px solid #005c81;;
	border-radius: 10px;
	background: transparent;
	color: #005c81;
	font-size: 20px;
	text-align: center;
}

.mais-categorias {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    right: auto;
}

.categorias {
	text-align: left;
	/* margin-left: 2.5%; */
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.pesquisa h2 {
	font-size: 20px;
	color: #005c81;
	text-align: left;
	margin-top: 10px;
	margin-left: 2.5%;
}

.pesquisa a:hover,
.pesquisa a.ativo {
    box-shadow: 0px 5px 10px 0px rgba(2, 25, 87, 0.5);
    transform: scale(1.05);
    background-color: #fff;
    color: #005c81;
}
.pesquisa a {
	background-color: #005c81;
	color: #fff;
	width: 13%;
    min-width: 100px;
	height: 40%;
	border: 2px solid #005c81;
	border-radius: 10px;
	font-size: 100%;
	text-align: center;
	margin: 10px 5px;
	line-height: 33px;
	cursor: pointer;
	text-decoration: none;
}

.filtros a {
	background-color: #005c81;
	color: #fff;
	width: 13%;
	height: 40%;
	border: 2px solid #005c81;
	border-radius: 10px;
	font-size: 100%;
	text-align: center;
	margin: 10px 5px;
	line-height: 33px;
	cursor: pointer;
	text-decoration: none;
}

.comercios-single {
	color: #005c81;
	width: 90%;
	height: auto;
	margin: auto;
	padding: 15px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
}

.card-header{
    color: #005c81;
	width: 90%;
	height: auto;
	margin: auto;
	padding: 15px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	align-items: stretch;
}

.card:hover{
    box-shadow: 0px 5px 10px 0px rgba(2, 25, 87, 0.5);
    transform: scale(1.05);
}

.card{
    background-color: #fff;
	color: #005c81;
	width: 31.3%;
    min-width: 400px;
	height: 30%;
	border: 2px solid #005c81;
	border-radius: 10px;
	margin: 1%;
	margin-top: 20px;
	padding: 10px;
	text-align: left;
	position: relative;
	min-height: 300px;
	max-height: 400px;
}

.card h2{
    padding: 10px 0;
	margin-bottom: 10px;
    margin-top: -10px;
    margin-left: -10px;
}

.card hr{
    width: 100%;
    height: 2px;
    border-radius: 55px;
    background-color: #005c81;
    margin-top: -20px;
    margin-bottom: 20px;
}

.card p{
    padding: 3px 0;
}

.card span{
    background-color: #005c81;
	color: #fff;
	border-radius: 5px;
	font-size: 100%;
	text-align: center;
	display: flex;
	line-height: 25px;
	width: 120px;
	justify-content: center;
	margin-bottom: 10px;
}

.card a{
	background-color: #005c81;
	color: #fff;
	border-radius: 5px;
	font-size: 100%;
	text-align: center;
	display: flex;
	line-height: 25px;
	width: 120px;
	justify-content: center;
	margin-top: 15px;
	box-shadow: 0px 5px 10px 0px rgba(2, 25, 87, 0.5);
    text-decoration: none;
}

.card a:hover{
    transform: scale(0.9);
}

.botao-comercio {
	margin-top: 10px;
	margin-bottom: 10px;
	text-decoration: none;
}

.footer {
	background-color: #005c81;
	color: #fff;
	width: 100%;
	height: 100%;
    max-height: fit-content;
	text-align: center;
	padding: 16px;
}

@media screen and ( max-width: 800px ) {
	.comercio {
		width: 350px;
	}
	
	.categorias {
	text-align: left;
	display: flex;
	flex-wrap: break-word;
	justify-content: center;
	}

	.pesquisa h2 {
		color: #005c81;
		text-align: center;
	}

	
}

.hidden {
	display: none;
}